.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    color: blue;
}
.note{
    font-size: 18px;
    color: black;
}

body{
    background-size:cover;
}

.div_speed{
    float: left;

}

.div_speed_img{
    width: 200px;
    border-radius: 100px;

}
#speed{
    font-size: 23px;
    margin: 15px;
}

.div_vol_img{
    width: 200px;
    border-radius: 100px;

}
#vol{
    font-size: 23px;
    margin: 15px;
}
.div_vol{
    float: right;

}